<h1>Chat</h1>
<h3>used websocket</h3>


<div class="row">
    <div class="col-sm-6">
        <div class="msg-box send" id="msg-send">

        </div>
    </div>
    <div class="col-sm-6">
        <div class="msg-box" id="msg-receive">

        </div>
    </div>
    <div class="col-sm-6">
        <form id="new-message">
            <div class="form-group">
                <textarea id="message" class="form-control" placeholder="Write your message" required></textarea>
            </div>

            <button class="btn btn-primary">Send</button>
        </form>
    </div>
</div>

<script id="message-tpl" type="text/x-handlebars-template">
    <div class="message{{#if me }} me{{/if}}">
        {{ message }}
    </div>
</script>

<script src="/js/socket.io.js"></script>
<script src="/js/socket.js"></script>
